:root {
  --main-color: #212121;
  --accent-color: #2196F3;
  --accent-color-white: #FFFFFF;
  --grey-text-color: #757575;
  --time-transition-duration: 250ms;
  --timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body  {
  font-family: Roboto, sans-serif;
  background-color: var(--accent-color-white);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 2px solid tomato;*/
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  height: 80px;
  padding: 24px 0 24px;
}

.header-box {
  display: flex;
  align-items: baseline;
}

.menu-link.current{
  color: var(--accent-color);
}

.logo-web, 
.logo-studio,
.logo-white {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-studio {
  color: var(--main-color);
}

.navigation {
  display: flex;
  align-items: baseline;
  margin-right: auto;
  
}

.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  transform: translateY(20.5px);
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list {
  display: flex;
  margin-left: 93px;
}

.menu-item {
  display: block;
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  vertical-align: middle;
  text-align: center;
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--grey-text-color);
  vertical-align: middle;

  transition: fill var(--time-transition-duration) var(--timing-function-cubic);
}

.mail-link:hover .contacts-icon,
.mail-link:focus .contacts-icon {
  fill: var(--accent-color)
} 

.phone-link:hover .contacts-icon,
.phone-link:focus .contacts-icon {
  fill: var(--accent-color)
}

.menu-link,
.mail-link,
.phone-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  margin: 0;
  transition: color var(--time-transition-duration) var(--timing-function-cubic);
}

.mail-link,
.phone-link {
  color: var(--grey-text-color);
  transition: color var(--time-transition-duration) var(--timing-function-cubic);
}

.mail-link {
  margin-right: 30px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:  rgba(47, 48, 58, 0.4);
  text-align: center;
}
    
.page-title {
  display: inline-block;
  width: 696px;
  min-height: 120;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  text-transform: uppercase;
  margin: 200px 0 30px;
}

.btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  padding: 10px 32px;
  margin: 0;
  border-color: transparent;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  margin: 0 0 50px;
  text-align: center;
}

.features {
  padding-top: 94px;
}

.features-title {
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  width: 270px;
}

.features-link {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.features-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon {
  display: block;
}

.features-description {
  font-weight: 400;
  color: var(--grey-text-color);
  margin: 0;
}

.work-title {
  font-weight: 700;
  line-height: 1.142;
  color: var(--accent-color-white);
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  display: inline-block;
}

.work-link .flexbox {
  display: flex;
  justify-content: space-between;
}

.work-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  position: relative;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.work-img {
  display: block;
  background-color: #C4C4C4;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.work-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 27px 0;
}

.our-team {
  background-color: #F5F4FA;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: var(--accent-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0 0 10px;
  text-align: center;
}

.team-img {
  display: block;
  margin: 0 0 30px;
  width: 100%;
} 

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--grey-text-color);
  margin: 0 0 16px;
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: center;
}

.social-item {
  width: calc((100% - 10px * 3) / 4);
  margin-bottom: 30px;
  
}

.social-item, .social {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  background-color: var(--accent-color-white);
  border-radius: 50px;
  
  transition: background-color var(--time-transition-duration) var(--timing-function-cubic);
}

.social-item:nth-child(4n) {
  margin-right: 0;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon {
  display: block;
  fill: #AFB1B8;

  transition: fill var(--time-transition-duration) var(--timing-function-cubic);
}

.social:hover,
.social:focus-within {
  background-color: var(--accent-color);
}

.social:hover .social-icon,
.social:focus-within .social-icon {
  fill: var(--accent-color-white);
}

.clients-link {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.clients-item {
  width: calc((100% - 10px * 5) / 6);
}

.clients-item, .clients {
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients {
  border: 1px solid #AFB1B8;
  transition: border-color var(--time-transition-duration) var(--timing-function-cubic);
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-icon {
  fill: #AFB1B8;
  display: block;

  transition: fill var(--time-transition-duration) var(--timing-function-cubic);
}

.clients:hover,
.clients:focus-within {
  border-color: var(--accent-color);
}

.clients:hover .clients-icon,
.clients:focus-within .clients-icon {
  fill: var(--accent-color);
}

.address {
  font-style: normal;
}

.addr {
  font-weight: 400;
  color: var(--accent-color-white);
  margin: 0;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.logo-footer {
  margin: 0;
  margin-bottom: 20px;
}

.footer-box-item {
  width: calc((100% - 30px) / 2);
  margin: 0;
}

.footer-box-item.footer-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-box-item:nth-child(2) {
  margin-left: 30px;
}

.footer-box-list {
  width: calc((100% - 30px) / 2);
}

.footer-box-list .footer-flexbox {
  display: flex;
  align-content: flex-start;
}

.logo-white {
  color: var(--accent-color-white);
  padding: 0;
}

.social-footer {
  display: flex;
  justify-content: flex-start;
}

.footer-icon {
  fill: var(--accent-color-white);
  display: block;
}

.social-footer-link, .social-footer-item {
  height: 44px;
  width: 44px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer-item {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--time-transition-duration) var(--timing-function-cubic);
}

.social-footer-link:not(:last-child) {
  margin-right: 10px;
}

.social-footer-item:hover,
.social-footer-item:focus-within {
  background-color: var(--accent-color);
}

.contacts-footer {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time-transition-duration) var(--timing-function-cubic);
}

.addr-footer {
  display: block;
  margin: 0;
  padding: 0;
}

.addr-footer:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  line-height: 1.143;
  color: var(--accent-color-white);
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
  margin-bottom: 20px;
}

.footer-form-box {
  display: flex;
}

.subscription-field {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  min-width: 358px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-subscription {
  display: flex;
  align-items: center;
  background: var(--accent-color);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color-white);
  border: transparent;
  margin-left: 12px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 28px;
  height: 50px;
  min-width: 200px;
}

.btn-text {
  margin-right: 10px;
}

.btn-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
}

.subscription-field::placeholder {
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}

.menu-link:hover,
.menu-link:focus,
.mail-link:hover,
.mail-link:focus,
.phone-link:hover,
.phone-link:focus,
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--accent-color);
}

.btn-portfolio {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}

.project-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 24px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  margin-bottom: 30px;

  transition: box-shadow var(--time-transition-duration) var(--timing-function-cubic);
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}


.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: var(--main-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;

  transition: color var(--time-transition-duration) var(--timing-function-cubic), 
    background-color var(--time-transition-duration) var(--timing-function-cubic), 
    box-shadow var(--time-transition-duration) var(--timing-function-cubic);
}

.project-btn:not(:last-child) {
  margin-right: 8px;
}

.project-btn:hover,
.project-btn:focus {
  color: var(--accent-color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-img {
  display: block;
  margin: 0;
  width: 100%;  
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  color: var(--main-color);
  margin: 0 0 4px 24px;
}

.project-link {
  text-decoration: none;
}

.project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-text-color);
  margin: 0 0 20px 24px;
}

.project-box {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.project-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: var(--accent-color-white);
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  transform: translateY(100%);

  transition: transform var(--time-transition-duration) var(--timing-function-cubic), 
    opacity var(--time-transition-duration) var(--timing-function-cubic);
}


/*.project-box::before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  
  opacity: 0;
}

/*.project-box:hover::before {
  transform: translateY(0);
  /*opacity: 1;
}*/

.project-item:hover .project-description,
.project-item:focus-within .project-description{
  transform: translateY(0);
  opacity: 1;
}

.project-item:hover,
.project-item:focus-within {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--time-transition-duration) var(--timing-function-cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;

  /*width: 100;
  max-width: 528px;*/

  background-color: var(--accent-color-white);
  border-radius: 4px;
  transition: transform var(--time-transition-duration) var(--timing-function-cubic)
}

.btn-close {
  position: absolute;
  display: block;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  border-radius: 50px;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  transition: fill var(--time-transition-duration) var(--timing-function-cubic);

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-close:hover {
  fill: var(--accent-color);
}

.btn-close:focus {
  fill: var(--accent-color);
}

.icon-close {
  display: block;
}

.form-box {
  display: inline-block;
  margin-left: 28px;
  margin-right: 52px;
}

.title-modal {
  margin-top: 35px;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.form {
  width: 100%;
  padding: 0;
  margin: 0 0 30px;
}

.form-label {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--grey-text-color);
  margin: 0;
}

.form-field {
  margin: 0;
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  font-size: 12px;
  color: #000000;
  outline-color: var(--accent-color);
  transition: outline-color var(--time-transition-duration) var(--timing-function-cubic);
}

.form-input-box {
  position: relative;
  margin: 0;
  padding: 0;
}

.form-textarea {
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  color: #000000;
  margin-bottom: 10px;
  outline-color: var(--accent-color);
  transition: outline-color var(--time-transition-duration) var(--timing-function-cubic);
}

.form-textarea::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.btn-position {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-submit {
  display: block;
  margin-bottom: 40px;
  min-width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  color: var(--accent-color-white);

  transition: box-shadow var(--time-transition-duration) var(--timing-function-cubic);
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-80%);
  transition: fill var(--time-transition-duration) var(--timing-function-cubic);
}

.form-input:focus,
.form-input-box:focus-within .icon-form,
.form-textarea:focus-within {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.form-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  margin-right: 7px;
  transition: background-color var(--time-transition-duration) var(--timing-function-cubic),
    border-color var(--time-transition-duration) var(--timing-function-cubic);
}

.form-checkbox:checked + .icon-check {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/icons/icon-check.svg');
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.contract-label {
  display: flex;
  align-items: center;
  margin-left: 7px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey-text-color)
}

.contract-accent {
  color: var(--accent-color);
}